@import "tailwindcss";

*{
    font-family:'Lucida Grande',;
    scroll-behavior: smooth;
}
body{
    background-color: #2E2E2E;
}
#icon{
    scroll-behavior: smooth;
    
}
/* #Project{
    margin-left: 2rem;
    object-fit: cover;
    width: 95%;
    height: 100vh;
    /* opacity: 50%; */
    /* background-image: url(./assets/header.png); }
*/ 
#Skills{
    position: relative;
    z-index: 1;
    
}
#Skills::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/bgImg.webp);
    background-size: cover;
    border-radius: 1rem;
    opacity: 50%;
    z-index: -1;
  }

  /* bg-[url(./assets/bgImg.webp)]  */