@import "tailwindcss";
@layer utilities {
  .text-color {
    background: -webkit-linear-gradient(20deg,#4b90ff,#c73528);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }
}


*{
    font-family:'Lucida Grande',;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: #2E2E2E;
}
#icon{
    scroll-behavior: smooth;
    
}

#Skills{
    position: relative;
    z-index: 1;
    
}
#Skills::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/bgImg.webp);
    background-size: cover;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 50%;
    z-index: -1;
  }

  